/**
  Name: Jeongseon Yoon
  Student number: 109687202
  Email: jyoon39@myseneca.ca
  Session: WEB222 NDD
  Dated: April 14, 2021
*/
/**
 * Styles for the add-observation.html page 
 */
legend {
  border-radius: 4px;
}
.required {
  color: red;
}
.blueTxt {
  color: rgb(0, 102, 255);
}
.errorMsg {
  color: red;
}
